body{ 
    font-family: 'Open Sans', sans-serif;
}    
 

 /* this is header */ 
  header{
   background-color: #FFF8F3;
  }

 /* this is h3 tag */
 h3{
    color: #181818;
    font-size: 70px;
    font-weight: 800;
   }  
    
    span{ 
      color:#FD6E0A ;   
    }
  

  /* this is start navbar */
nav{
     display: flex; 
     justify-content: space-between; 
    align-items: center;  
     margin: 0px 200px; 
     
     
 }
nav ul{
     display: flex;  
      align-items: center;
      
 } 
nav li{ 
     list-style: none;
     
} 
 nav a{
     text-decoration: none; 
      color: #474747; 
        margin-right: 51px;
 }
  
 

     /* this is botton tag */
  .baton{ 
            background-color:  #FD6E0A; 
            border-radius: 5px; 
            border: 0; 
            color: white;
            font-size: 20px;
            font-weight: 700; 
            padding: 15px 35px;
  } 
   /* this is banner */ 
    .banner{ 
         padding: 30px 30px 30px 150px; 
          display: flex; 
           align-items: center;
    } 
      



     /* this is img */ 
        img{
            width: 584px;
            height: 676px;
        } 