body{ 
    font-family: 'Open Sans', sans-serif;
}    
 

 /* this is header */ 
  header{
   background-color: #FFF8F3; 
    background-image: url(img/header_bg.png); 
     background-repeat: no-repeat; 
      background-position: bottom right;
  }

 /* this is h3 tag */
 .mary-lekha{
    color: #181818;
    font-size: 70px;
    font-weight: 800;
   }  
    
    span{ 
      color:#FD6E0A ;   
    }
  
 .head1{
    font-size: 45px; 
     margin-bottom: 0;

 } 
  .head2{
    font-size: 85px;
    
    font-weight: 700; 
     margin-top: 5px; 
      margin-bottom: 5px;
  } 
   .para{
     margin-top: 20px;  
      margin-bottom: 20px; 
       max-width: 585px; 
        font-size: 18px;
   }
  /* this is start navbar */
nav{
     display: flex; 
     justify-content: space-between; 
    align-items: center;  
     margin: 0px 200px; 
     
     
 }
nav ul{
     display: flex;  
      align-items: center;
      
 } 
nav li{ 
     list-style: none;
     
} 
 nav a{
     text-decoration: none; 
      color: #474747; 
        margin-right: 51px;
 }
  
 

     /* this is botton tag */
  .baton{ 
            background-color:  #FD6E0A; 
            border-radius: 5px; 
            border: 0; 
            color: white;
            font-size: 20px;
            font-weight: 700; 
            padding: 15px 35px;
  }  
   .baton1{ 
     background-color: #FFF8F3; 
      border-radius: 5px; 
       border:0; 
        color: #FD6E0A;  
         font-size:20px ; 
          font-weight: 700; 
           padding: 15px 35px ;
       
        border: 1px solid #FD6E0A;
   }
   /* this is banner */ 
    .banner{ 
         padding: 30px 30px 0px 150px; 
          display: flex; 
           align-items: center; 
            justify-content: space-between;
    } 
      



     /* this is img */ 
        img{
            width: 584px;
            height: 676px; 
             
        }  
         
          .button2{ 
             background-color:#FD6E0A ;
          }   
           /* this is a main */ 
            .section1{ 
                border-radius: 10px;
                background: #FFF8F3; 
                 margin-top: 80px; 
                 width: 1140px;
                 height: 550px; 
                  margin: 0 auto; 
                   margin-top: 100px;
                 
            } 
              .section2{
              
               text-align: center; 
                font-size: 35px; 
                 font-weight: 700; 
                  color: #181818; 
                  padding-top: 131px;
             } 
              .section3{ 
               
                color: #757575;
                text-align: center;
        
                font-size: 18px;
              
                font-weight: 400;
                line-height: 30px; 
                 padding: 0px 156px;
              } 
               .lastpart{
                 display: flex; 
                 justify-content: space-around; 
                  margin-top: 35px;
               } 
                .last-title{ 
                     text-align: center;
                } 
                 .lasthead{ 
                    padding-bottom: 0; 
                     height: 5px;
                 }
                  .last-steps{ 
                     padding-top: 0;
                  }  



                   /* what i do part */ 
                      .top{ 
                        color:#181818;
                        text-align: center;
                     
                           font-size: 35px;
                       
                          font-weight: 700; 
                           margin-top: 80px;
                      
                      } 
                        .toper-por{
                           width: 900px; 
                           margin-left: 350px;
     
                                         }

                      
                        .second-pera{  
                            color:  #757575;
                            
                           
                            font-size: 18px;
                           
                            font-weight: 400; 
                             text-align: center; 
                                    padding: 30px 346px;


                             
                             
                        } 
                         .skill{
                             display: flex; 
                               
                              margin-left: 200px;
                         } 
                          .skill1{
                            width: 267px;
                            height: 377px; 
                            margin: 20px; 
                             background-color: #FFF; 
                              border-radius: 5px;
                             box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
                          }  
                           .skill  img{
                             height: 44px; 
                              width: 44px; 
                               margin-top: 30px;  
                                margin-left: 30px;
                              
                           }
                           .skill h4{ 
                            color:  #181818;
                          
                     
                            font-size: 20px;
                           
                            font-weight: 700; 
                            padding-left: 30px;
                        
                           } 
                            .skill p{ 
                                color: #757575;
                                
                                font-size: 16px;
                               
                                font-weight: 400; 
                                  padding-right: 7px;
                                  padding-left: 30px;
                            
                            } 
                                 /* this part is resume part  */ 

                                       .last-main-head{
                                          color: #181818;
                                          text-align: center;
                                        
                                          font-size: 35px;
                                         
                                          font-weight: 700; 
                                           margin-top: 50px;} 
                                            .education-course{
                                             color: #474747;
                                              
                                                     font-size: 30px;
                                               
                                                 font-weight: 700;
                                                    
                                              
                                            }



                                             .subjetct{
                                             color:  #474747; 
                                           
 
                                            

                                                font-weight: 700; 
                                                 margin-bottom: 0; 
                                                

                                            } 
                                             .university{
                                                color:  #757575;

                                             

                                               font-weight: 600; 
                                                         margin-top: 5px;
                                                 margin-bottom: 20px; 
                                               
 
                                             } 
                                              .education-name{
                                                display: flex; 
                                               
                                                 margin:0 200px; 
                                                 gap: 71px;
                                              } 
                                                .details{
                                                   color: #757575;

                                                   font-size: 16px; 
                                             

                                                   font-weight: 400;
                                                } 
                                                .education-course{
                                                   color:  #474747;

                                             

                                              font-weight: 700;
                                                }  
                                                     hr{
                                                       background-color: #D1D1D1;
                                                     }




                                                      .baton5{
                                                         
                                             background-color:  #FD6E0A; 
                                               border-radius: 5px; 
                                                   border: 0; 
                                                     color: white;
                                                  font-size: 20px;
                                                   font-weight: 700; 
                                                  padding: 15px 35px;  
                                                   margin-left: 700px;  
                                                    margin-top: 50px;
                                                 
                                                      }



                                                 
                                       
                                      